<!DOCTYPE html>
<html>
    <head>
    <link rel='stylesheet' href='/css/style.css'>
    </head>
    <body>
        {{>head}}
        {{>foot}}
        <script src='/js/js.js'></script>
        <!-- order of script matters it should run at the end cuz there are different event in client js 
        which depends on the data coming from elements of html-->
    </body>
</html>